body {
    text-align: center;
    font-family: Arial;
    background: rgb(74, 12, 74);
}

h1 {
    color: white;
    font-size: 32px;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    margin-top: 60px;
    line-height: 1.6;
    text-shadow: 2px 2px 5px purple;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: rgb(130, 75, 160);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}